---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CTA1 from "../components/CTA1.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header>
    <Header />
  </header>
  <body>
    <h1>Om os og konceptet</h1>
    <img src="" alt="" />
    <p>
      I uge 44 sætter vi fokus på døden - og på hvordan vi kan være der for hinanden. Mange unge oplever, at det kan være svært at tale om døden, især når en ven har mistet. Derfor samler vi i uge 44 arrangementer, gode råd og inspiration, der gør
      det lettere at starte samtalen og støtte andre i sorg.
    </p>
    <CTA1 text="Kalender" href="/kalender" />
    <CTA1 text="Inspiration" href="/inspiration" />
  </body>
  <footer><Footer /></footer>


</html>
