---
const { title, description, image } = Astro.props;
---

<div class="card">
  <img src={image} alt="" />
  <div class="content">
    <h2>{title}</h2>
    <p>{description}</p>
    <button>Se mere</button>
  </div>
</div>
