---
import "../styles/global.css";
---

<div class="footer-wrap">
  <div class="blob1"></div>
  <div class="blob2"></div>
  <div class="blob3"></div>

  <!-- VENSTRE SIDE -->
  <div class="left">
    <a href="index.html">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1240.51 1005.8">
        <defs>
          <style>
            .cls-1 {
              fill: #e46b45;
            }

            .cls-2 {
              fill: #131313;
            }
          </style>
        </defs>
        <g id="CfUyRR.tif">
          <g>
            <path
              d="M679.84.04c96.73-1.42,190.81,68.02,220.2,160.5h-111.1c-20.25-45.74-71.66-70.59-120.34-66.15-76.67,4.97-130.66,80.06-124.08,154.46,4.72,66.44,59.72,127.92,127.9,129.71,56.68,3.61,112.58-27,129.81-83h-116.41s.1-76.52.1-76.52h225.53c11.73,224.09-259.35,338.94-410.37,172.13C365.11,239.37,477.44-3.64,679.84.04Z"
            ></path>
            <path
              d="M1235.48,906.81l-62.45-.02-.02,89.23-100.41.04-.02-89.28h-305.77s-.03,89.27-.03,89.27h-100.44s-.01-89.27-.01-89.27l-244.82.08,254.4-368.37,90.89.09-.03,274.44,64.46.03.12,87.96c62.07-89.86,188.83-273.39,250.35-362.49l91.36.03-.03,274.45,64.45.1.04,92.64c-.47.61-.94,1.06-2.03,1.06ZM574.06,812.98l92.31.11-.07-139.06c-22.98,34.49-69.32,104.3-92.25,138.95ZM1072.65,813.21l-.17-139.42-92.83,139.23,93,.19Z"
            ></path>
            <path
              class="cls-1"
              d="M376.27,1005.8H6c15.92-155.36,159.89-172.87,102.36-278.04-12-20.87-29.54-37.94-45.44-55.75-33.8-35.88-48.88-84.29-56.97-131.96h370.37c-11.31,67.41-30.7,107.49-78.79,156.01-55.05,58.52-44.97,107.11,8.16,161.42,40.63,43.55,61.79,88.28,70.59,148.32Z"
            ></path>
            <polygon points="1233.76 280.52 1076.35 280.53 1076.35 372.07 1240.51 372.03 1240.5 463.56 975.21 463.51 975.15 6.18 1240.44 6.03 1240.47 98.3 1076.35 98.28 1076.35 188.32 1233.71 188.3 1233.76 280.52"></polygon>
            <g>
              <path
                d="M0,302.3v-7.5c.58-1.95.58-4.04,0-6V6.05l101.14.02c2.32,28.03-6.13,298.32,7.36,317.34,6.1,18.63,20.31,33.53,38.99,39.8,8.54,3.12,17.42,5.45,26.65,5.46,37.54,2.5,82.16-3.49,95.2-44.38,13-11.71,5.34-296.58,7.26-318.18l101.2-.07c-3.4,48.43,10.12,320.07-12.75,359.99-22.6,66.96-90.84,102.26-158.48,103.93C93.4,477.79,4.9,421.76,0,302.3Z"
              ></path>
              <path class="cls-2" d="M0,294.8v-6c1.16,1.6,1.16,4.4,0,6Z"></path>
            </g>
          </g>
        </g>
      </svg>
    </a>

    <p class="org-name">Landsforeningen Liv&Død</p>

    <div class="info-row">
      <span>Bispebjerg Torv 16 St. TV</span>
    </div>
    <div class="info-row">
      <span>2400 København NV</span>
    </div>
    <div class="info-row">
      <!-- Telefon ikon -->
      <svg class="icon" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19.5779 25.4672C21.6169 25.4672 22.9649 24.9162 24.1599 23.5802C24.2539 23.4867 24.3359 23.3812 24.4299 23.2872C25.1329 22.5022 25.4609 21.7287 25.4609 20.9907C25.4609 20.1467 24.9689 19.3617 23.9259 18.6347L20.5159 16.2677C19.4609 15.5412 18.2304 15.4592 17.2459 16.4317L16.3439 17.3342C16.0739 17.6037 15.8399 17.6157 15.5704 17.4512C14.9494 17.0527 13.6719 15.9397 12.8044 15.0727C11.8904 14.1702 10.9999 13.1627 10.5429 12.4242C10.3789 12.1542 10.4024 11.9317 10.6719 11.6622L11.5624 10.7597C12.5469 9.77573 12.4649 8.53323 11.7384 7.49073L9.35944 4.08073C8.64444 3.03723 7.85944 2.55673 7.01544 2.54523C6.27744 2.53323 5.50394 2.87323 4.71894 3.57623C4.61344 3.67023 4.51944 3.75223 4.41394 3.83423C3.08994 5.02923 2.53894 6.37723 2.53894 8.40423C2.53894 11.7562 4.60144 15.8342 8.38694 19.6192C12.1484 23.3812 16.2384 25.4672 19.5779 25.4672ZM19.5899 23.6622C16.6014 23.7207 12.7699 21.4242 9.73444 18.4007C6.67594 15.3537 4.27344 11.3927 4.33194 8.40473C4.35544 7.11523 4.80094 6.00223 5.72694 5.20523C5.79694 5.13523 5.86694 5.07623 5.94894 5.01773C6.28894 4.71273 6.67594 4.54923 7.00394 4.54923C7.35544 4.54923 7.65994 4.67773 7.88294 5.02923L10.1564 8.43923C10.4024 8.80273 10.4259 9.21323 10.0624 9.57623L9.03144 10.6077C8.21094 11.4162 8.28144 12.4007 8.86744 13.1857C9.53494 14.0882 10.6954 15.4007 11.5859 16.2912C12.4884 17.1937 13.9059 18.4592 14.8084 19.1387C15.5934 19.7247 16.5899 19.7837 17.3984 18.9747L18.4294 17.9437C18.7929 17.5802 19.1914 17.6037 19.5544 17.8382L22.9644 20.1117C23.3164 20.3457 23.4569 20.6387 23.4569 20.9907C23.4569 21.3307 23.2929 21.7057 22.9769 22.0567C22.9218 22.1338 22.8631 22.2082 22.8009 22.2797C21.9924 23.1937 20.8789 23.6387 19.5899 23.6622Z"
          fill="black"></path>
      </svg>

      <span>33 36 49 70</span>
    </div>
    <div class="info-row">
      <!-- Email ikon -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 20C3.45 20 2.97933 19.8043 2.588 19.413C2.19667 19.0217 2.00067 18.5507 2 18V6C2 5.45 2.196 4.97933 2.588 4.588C2.98 4.19667 3.45067 4.00067 4 4H20C20.55 4 21.021 4.196 21.413 4.588C21.805 4.98 22.0007 5.45067 22 6V18C22 18.55 21.8043 19.021 21.413 19.413C21.0217 19.805 20.5507 20.0007 20 20H4ZM12 13L4 8V18H20V8L12 13ZM12 11L20 6H4L12 11ZM4 8V6V18V8Z" fill="black"/>
        </svg>        
      <a class="mail" href="mailto:info@livogdoed.dk"><span>info@livogdoed.dk</span></a>
    </div>
    <div class="info-row">
      <!-- CVR ikon -->
      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 15H16V17H18M18 11H16V13H18M20 19H12V17H14V15H12V13H14V11H12V9H20M10 7H8V5H10M10 11H8V9H10M10 15H8V13H10M10 19H8V17H10M6 7H4V5H6M6 11H4V9H6M6 15H4V13H6M6 19H4V17H6M12 7V3H2V21H22V7H12Z" fill="black"></path>
      </svg>
      <span>CVR: 25441397</span>
    </div>
  </div>

  <!-- HØJRE SIDE -->
  <div class="right">
    <span class="socials-label">Socials</span>
    <div class="social-grid">
      <!-- Facebook -->
      <a href="https://www.facebook.com/profile.php?id=61587160924694"
        ><svg class="social-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_335_4435)">
            <path
              d="M20 0C8.9544 0 0 8.9544 0 20C0 29.3792 6.4576 37.2496 15.1688 39.4112V26.112H11.0448V20H15.1688V17.3664C15.1688 10.5592 18.2496 7.404 24.9328 7.404C26.2 7.404 28.3864 7.6528 29.2808 7.9008V13.4408C28.8088 13.3912 27.9888 13.3664 26.9704 13.3664C23.6912 13.3664 22.424 14.6088 22.424 17.8384V20H28.9568L27.8344 26.112H22.424V39.8536C32.3272 38.6576 40.0008 30.2256 40.0008 20C40 8.9544 31.0456 0 20 0Z"
              fill="black"></path>
          </g>
          <defs>
            <clipPath id="clip0_335_4435">
              <rect width="40" height="40" fill="white"></rect>
            </clipPath>
          </defs>
        </svg></a
      >
      <!-- TikTok -->
      <a href="https://www.tiktok.com/@landsforeningenlivogdoed?is_from_webapp=1&sender_device=pc"
        ><svg class="social-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M28.4542 0H21.713V27.2463C21.713 30.4928 19.1203 33.1594 15.8938 33.1594C12.6672 33.1594 10.0745 30.4928 10.0745 27.2463C10.0745 24.058 12.6096 21.4492 15.7209 21.3333V14.4928C8.86451 14.6087 3.33331 20.2319 3.33331 27.2463C3.33331 34.3189 8.97974 40 15.9514 40C22.9229 40 28.5694 34.2609 28.5694 27.2463V13.2753C31.1045 15.1304 34.2158 16.2319 37.5 16.2899V9.44928C32.4298 9.27537 28.4542 5.10144 28.4542 0Z"
            fill="black"></path>
        </svg></a
      >
      <!-- Instagram -->
      <a href="https://www.instagram.com/uge_44?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        ><svg class="social-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_335_4439)">
            <path
              d="M20 3.60156C25.3438 3.60156 25.9766 3.625 28.0781 3.71875C30.0313 3.80469 31.0859 4.13281 31.7891 4.40625C32.7188 4.76563 33.3906 5.20313 34.0859 5.89844C34.7891 6.60156 35.2188 7.26563 35.5781 8.19531C35.8516 8.89844 36.1797 9.96094 36.2656 11.9063C36.3594 14.0156 36.3828 14.6484 36.3828 19.9844C36.3828 25.3281 36.3594 25.9609 36.2656 28.0625C36.1797 30.0156 35.8516 31.0703 35.5781 31.7734C35.2188 32.7031 34.7813 33.375 34.0859 34.0703C33.3828 34.7734 32.7188 35.2031 31.7891 35.5625C31.0859 35.8359 30.0234 36.1641 28.0781 36.25C25.9688 36.3438 25.3359 36.3672 20 36.3672C14.6563 36.3672 14.0234 36.3438 11.9219 36.25C9.96875 36.1641 8.91406 35.8359 8.21094 35.5625C7.28125 35.2031 6.60938 34.7656 5.91406 34.0703C5.21094 33.3672 4.78125 32.7031 4.42188 31.7734C4.14844 31.0703 3.82031 30.0078 3.73438 28.0625C3.64063 25.9531 3.61719 25.3203 3.61719 19.9844C3.61719 14.6406 3.64063 14.0078 3.73438 11.9063C3.82031 9.95312 4.14844 8.89844 4.42188 8.19531C4.78125 7.26563 5.21875 6.59375 5.91406 5.89844C6.61719 5.19531 7.28125 4.76563 8.21094 4.40625C8.91406 4.13281 9.97656 3.80469 11.9219 3.71875C14.0234 3.625 14.6563 3.60156 20 3.60156ZM20 0C14.5703 0 13.8906 0.0234375 11.7578 0.117188C9.63281 0.210938 8.17188 0.554687 6.90625 1.04687C5.58594 1.5625 4.46875 2.24219 3.35938 3.35938C2.24219 4.46875 1.5625 5.58594 1.04688 6.89844C0.554688 8.17188 0.210938 9.625 0.117188 11.75C0.0234375 13.8906 0 14.5703 0 20C0 25.4297 0.0234375 26.1094 0.117188 28.2422C0.210938 30.3672 0.554688 31.8281 1.04688 33.0938C1.5625 34.4141 2.24219 35.5313 3.35938 36.6406C4.46875 37.75 5.58594 38.4375 6.89844 38.9453C8.17188 39.4375 9.625 39.7813 11.75 39.875C13.8828 39.9688 14.5625 39.9922 19.9922 39.9922C25.4219 39.9922 26.1016 39.9688 28.2344 39.875C30.3594 39.7813 31.8203 39.4375 33.0859 38.9453C34.3984 38.4375 35.5156 37.75 36.625 36.6406C37.7344 35.5313 38.4219 34.4141 38.9297 33.1016C39.4219 31.8281 39.7656 30.375 39.8594 28.25C39.9531 26.1172 39.9766 25.4375 39.9766 20.0078C39.9766 14.5781 39.9531 13.8984 39.8594 11.7656C39.7656 9.64063 39.4219 8.17969 38.9297 6.91406C38.4375 5.58594 37.7578 4.46875 36.6406 3.35938C35.5313 2.25 34.4141 1.5625 33.1016 1.05469C31.8281 0.5625 30.375 0.21875 28.25 0.125C26.1094 0.0234375 25.4297 0 20 0Z"
              fill="black"></path>
            <path
              d="M20 9.72656C14.3281 9.72656 9.72656 14.3281 9.72656 20C9.72656 25.6719 14.3281 30.2734 20 30.2734C25.6719 30.2734 30.2734 25.6719 30.2734 20C30.2734 14.3281 25.6719 9.72656 20 9.72656ZM20 26.6641C16.3203 26.6641 13.3359 23.6797 13.3359 20C13.3359 16.3203 16.3203 13.3359 20 13.3359C23.6797 13.3359 26.6641 16.3203 26.6641 20C26.6641 23.6797 23.6797 26.6641 20 26.6641Z"
              fill="black"></path>
            <path d="M33.0781 9.32032C33.0781 10.6484 32 11.7188 30.6797 11.7188C29.3516 11.7188 28.2812 10.6406 28.2812 9.32032C28.2812 7.99219 29.3594 6.92188 30.6797 6.92188C32 6.92188 33.0781 8 33.0781 9.32032Z" fill="black"></path>
          </g>
          <defs>
            <clipPath id="clip0_335_4439">
              <rect width="40" height="40" fill="white"></rect>
            </clipPath>
          </defs>
        </svg></a
      >

      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/company/landsforeningen-liv-d-d/?originalSubdomain=dk"
        ><svg class="social-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_335_4443)">
            <path
              d="M37.0391 0H2.95312C1.32031 0 0 1.28906 0 2.88281V37.1094C0 38.7031 1.32031 40 2.95312 40H37.0391C38.6719 40 40 38.7031 40 37.1172V2.88281C40 1.28906 38.6719 0 37.0391 0ZM11.8672 34.0859H5.92969V14.9922H11.8672V34.0859ZM8.89844 12.3906C6.99219 12.3906 5.45313 10.8516 5.45313 8.95312C5.45313 7.05469 6.99219 5.51562 8.89844 5.51562C10.7969 5.51562 12.3359 7.05469 12.3359 8.95312C12.3359 10.8437 10.7969 12.3906 8.89844 12.3906ZM34.0859 34.0859H28.1562V24.8047C28.1562 22.5937 28.1172 19.7422 25.0703 19.7422C21.9844 19.7422 21.5156 22.1562 21.5156 24.6484V34.0859H15.5938V14.9922H21.2812V17.6016H21.3594C22.1484 16.1016 24.0859 14.5156 26.9688 14.5156C32.9766 14.5156 34.0859 18.4688 34.0859 23.6094V34.0859V34.0859Z"
              fill="black"></path>
          </g>
          <defs>
            <clipPath id="clip0_335_4443">
              <rect width="40" height="40" fill="white"></rect>
            </clipPath>
          </defs>
        </svg></a
      >

      <!-- YouTube -->
      <a href="https://www.youtube.com/channel/UCR94vS0AOsDHVm_u1mKtr7w"
        ><svg class="social-icon" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M44.5518 13.5C44.5518 13.5 44.1123 10.3975 42.7588 9.03516C41.0449 7.24219 39.1289 7.2334 38.25 7.12793C31.957 6.6709 22.5088 6.6709 22.5088 6.6709H22.4912C22.4912 6.6709 13.043 6.6709 6.75 7.12793C5.87109 7.2334 3.95508 7.24219 2.24121 9.03516C0.887695 10.3975 0.457031 13.5 0.457031 13.5C0.457031 13.5 0 17.1475 0 20.7861V24.1963C0 27.835 0.448242 31.4824 0.448242 31.4824C0.448242 31.4824 0.887695 34.585 2.23242 35.9473C3.94629 37.7402 6.19629 37.6787 7.19824 37.8721C10.8018 38.2148 22.5 38.3203 22.5 38.3203C22.5 38.3203 31.957 38.3027 38.25 37.8545C39.1289 37.749 41.0449 37.7402 42.7588 35.9473C44.1123 34.585 44.5518 31.4824 44.5518 31.4824C44.5518 31.4824 45 27.8437 45 24.1963V20.7861C45 17.1475 44.5518 13.5 44.5518 13.5ZM17.8506 28.3359V15.6885L30.0059 22.0342L17.8506 28.3359Z"
            fill="black"></path>
        </svg></a
      >

      <!-- Spotify -->
      <a href="https://open.spotify.com/show/1hwFjWefEf25vVe6jXAEHO?si=d072f841f64f4cff"
        ><svg class="social-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19.9388 0C8.92714 0 0 8.9269 0 19.9386C0 30.9507 8.92714 39.8769 19.9388 39.8769C30.9517 39.8769 39.8779 30.9507 39.8779 19.9386C39.8779 8.92762 30.9517 0.000952376 19.9386 0.000952376L19.9388 0ZM29.0826 28.7571C28.7255 29.3429 27.9588 29.5286 27.3731 29.1691C22.6917 26.3095 16.7983 25.6619 9.85786 27.2476C9.18905 27.4 8.52238 26.981 8.37 26.3119C8.21691 25.6429 8.63429 24.9762 9.30476 24.8238C16.9 23.0879 23.415 23.8357 28.6707 27.0476C29.2564 27.4071 29.4421 28.1714 29.0826 28.7571ZM31.5231 23.3274C31.0731 24.0595 30.116 24.2905 29.385 23.8405C24.0255 20.5455 15.8557 19.5914 9.51643 21.5157C8.69429 21.764 7.82595 21.3007 7.57643 20.48C7.32881 19.6579 7.79238 18.7912 8.6131 18.5412C15.8543 16.344 24.8564 17.4083 31.0112 21.1905C31.7421 21.6405 31.9731 22.5974 31.5231 23.3274ZM31.7326 17.674C25.3064 13.8571 14.704 13.5062 8.56857 15.3683C7.58333 15.6671 6.54143 15.111 6.24286 14.1257C5.94429 13.14 6.5 12.0988 7.48595 11.7993C14.529 9.66119 26.2374 10.0743 33.636 14.4664C34.524 14.9924 34.8145 16.1369 34.2883 17.0219C33.7645 17.9081 32.6169 18.2002 31.7336 17.674H31.7326Z"
            fill="black"></path>
        </svg></a
      >
    </div>
  </div>
</div>
<style>
  .footer-wrap {
    background: #fff;
    padding: 28px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;
    overflow: hidden;
    min-height: 140px;
  }
  #Layer_1 {
    width: clamp(60px, 15vw, 80px);
    margin: 1em 1em 1em 0em;
  }
  .blob1 {
    position: absolute;
    right: 750px;
    top: -100px;
    width: 400px;
    height: 700px;
    background: #fdd8c8;
    border-radius: 50% 90% 70% 30% / 50% 60% 20% 30%;
    z-index: 0;
    transform: rotate(223deg);
  }

  .blob2 {
    position: absolute;
    right: 200px;
    top: -150px;
    width: 300px;
    height: 450px;
    background: #fdd8c8;
    border-radius: 70% 60% 20% 70% / 60% 40% 70% 50%;
    z-index: 0;
    transform: rotate(44deg);
  }
  .blob3 {
    position: absolute;
    right: -200px;
    top: 100px;
    width: 700px;
    height: 300px;
    background: #ffc0ac;
    border-radius: 20% 30% 40% 70% / 70% 40% 70% 50%;
    z-index: 0;
    transform: rotate(-36deg);
  }
  .left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* Erstat .logo-area med dit eget logo-billede */
  .logo-area {
    width: 80px;
    height: 52px;
    background: #fff;
    border: 1px dashed #aaa;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #888;
    margin-bottom: 10px;
  }

  .org-name {
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0 0 4px;
    font-size: clamp(18px, 1.5vw, 32px);
  }

  .info-row {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    color: #333;
    margin: 1px 0;
    font-size: clamp(12px, 1vw, 22px);
  }

  .icon {
    clamp(width: 14px);
    clamp(height: 14px);
    flex-shrink: 0;
  }

  .right {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 3em;
  }

  .socials-label {
    font-size: 13px;
    font-weight: bold;
    color: #1a1a1a;
    font-size: clamp(18px, 1.5vw, 32px);
  }

  .social-grid {
    display: grid;
    grid-template-columns: repeat(3, 28px);
    gap: 20px;
    justify-items: center;
  }

  .social-icon {
    width: 30px;
    height: 30px;
    color: #1a1a1a;
  }
  .mail {
    text-decoration: none;
    color: #000;
  }
  .mail:hover {
    text-decoration: underline;
  }
  .social-icon:hover {
    scale: 110%;
  }

  @media (max-width: 400px) {
    .footer-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
    .right {
      margin-right: 0;
    }
  }
</style>
<script></script>
