---
import "../styles/global.css";
const { pathname } = Astro.url;
const navLinks = [
  { title: "Kalender", path: "/kalender.html" },
  { title: "Guide", path: "/guide.html" },
];
---

<nav class="navbar">
  <div class="logo-header">
    <a href="index.html">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1240.51 1005.8">
        <defs>
          <style>
            .cls-1 {
              fill: #e46b45;
            }

            .cls-2 {
              fill: #131313;
            }
          </style>
        </defs>
        <g id="CfUyRR.tif">
          <g>
            <path
              d="M679.84.04c96.73-1.42,190.81,68.02,220.2,160.5h-111.1c-20.25-45.74-71.66-70.59-120.34-66.15-76.67,4.97-130.66,80.06-124.08,154.46,4.72,66.44,59.72,127.92,127.9,129.71,56.68,3.61,112.58-27,129.81-83h-116.41s.1-76.52.1-76.52h225.53c11.73,224.09-259.35,338.94-410.37,172.13C365.11,239.37,477.44-3.64,679.84.04Z"
            ></path>
            <path
              d="M1235.48,906.81l-62.45-.02-.02,89.23-100.41.04-.02-89.28h-305.77s-.03,89.27-.03,89.27h-100.44s-.01-89.27-.01-89.27l-244.82.08,254.4-368.37,90.89.09-.03,274.44,64.46.03.12,87.96c62.07-89.86,188.83-273.39,250.35-362.49l91.36.03-.03,274.45,64.45.1.04,92.64c-.47.61-.94,1.06-2.03,1.06ZM574.06,812.98l92.31.11-.07-139.06c-22.98,34.49-69.32,104.3-92.25,138.95ZM1072.65,813.21l-.17-139.42-92.83,139.23,93,.19Z"
            ></path>
            <path
              class="cls-1"
              d="M376.27,1005.8H6c15.92-155.36,159.89-172.87,102.36-278.04-12-20.87-29.54-37.94-45.44-55.75-33.8-35.88-48.88-84.29-56.97-131.96h370.37c-11.31,67.41-30.7,107.49-78.79,156.01-55.05,58.52-44.97,107.11,8.16,161.42,40.63,43.55,61.79,88.28,70.59,148.32Z"
            ></path>
            <polygon points="1233.76 280.52 1076.35 280.53 1076.35 372.07 1240.51 372.03 1240.5 463.56 975.21 463.51 975.15 6.18 1240.44 6.03 1240.47 98.3 1076.35 98.28 1076.35 188.32 1233.71 188.3 1233.76 280.52"></polygon>
            <g>
              <path
                d="M0,302.3v-7.5c.58-1.95.58-4.04,0-6V6.05l101.14.02c2.32,28.03-6.13,298.32,7.36,317.34,6.1,18.63,20.31,33.53,38.99,39.8,8.54,3.12,17.42,5.45,26.65,5.46,37.54,2.5,82.16-3.49,95.2-44.38,13-11.71,5.34-296.58,7.26-318.18l101.2-.07c-3.4,48.43,10.12,320.07-12.75,359.99-22.6,66.96-90.84,102.26-158.48,103.93C93.4,477.79,4.9,421.76,0,302.3Z"
              ></path>
              <path class="cls-2" d="M0,294.8v-6c1.16,1.6,1.16,4.4,0,6Z"></path>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </div>

  <ul class="nav-links">
    {
      navLinks.map((link) => {
        return (
          <li>
            <a href={link.path} class={pathname === link.path ? "active" : undefined}>
              {link.title}
            </a>
          </li>
        );
      })
    }
  </ul>
  <button class="burger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
</nav>

<style>
  .active {
    border-bottom: 2px solid black;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 4em;
    margin-right: 3em;
  }
  .nav-links a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    color: #000;
    &:hover {
      border-bottom: 2px solid #e56c45;
    }
  }
  .logo-header svg {
    width: clamp(60px, 15vw, 80px);
    height: auto;
    display: block;
  }
  .navbar {
    padding: 32px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  @media screen and (width < 800px) {
    .nav-links {
      display: none;
    }
    .burger {
      display: block;
      background-color: transparent;
      border: 0;
      flex: 0 0 auto;
      margin: 0;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
    nav.active .nav-links {
      display: block;
      border-radius: 20px;
      box-shadow: var(--drop-shadow);
      position: absolute;
      top: 2rem;
      right: 0.3em;
      width: 150px;
      z-index: 1;
    }
    header > nav li > a:after {
      content: "";
    }
    nav.active .nav-links li {
      margin: 30px 30px;
      text-align: left;
    }
  }
</style>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const links = document.querySelectorAll("nav a");

  // 👉 Guard mod null
  if (burger && nav) {
    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });
  }
</script>
